<div class="container">
  <app-graph-calendar *ngIf="Calendar"></app-graph-calendar>
  <app-graph-webkit-dep *ngIf="WebkitDep"></app-graph-webkit-dep>
  <app-graph-simple *ngIf="SimpleGraph"></app-graph-simple>
  <app-graph-npm-dep *ngIf="NpmDep"></app-graph-npm-dep>
  <app-graph-life-expectancy *ngIf="LifeExpectancy"></app-graph-life-expectancy>
  <app-graph-les-miserable1 *ngIf="LesMiserables1"></app-graph-les-miserable1>
  <app-graph-les-miserable *ngIf="LesMiserables"></app-graph-les-miserable>
  <app-graph-hide-label *ngIf="HideOverlappedLabel"></app-graph-hide-label>
  <app-graph-force *ngIf="ForceLayout"></app-graph-force>
  <app-graph-force1 *ngIf="ForceLayout1"></app-graph-force1>
  <app-graph-dynamic *ngIf="Dynamic"></app-graph-dynamic>
  <app-graph-cartesian *ngIf="Cartesian"></app-graph-cartesian>
</div>
