<div class="container">
  <app-profile *ngIf="isProfile"></app-profile>
  <app-left-right-tree *ngIf="isTreeLeftRight"></app-left-right-tree>
  <app-right-left-tree *ngIf="isTreeRightLeft"></app-right-left-tree>
  <app-bottom-top-tree *ngIf="isTreeBottomTop"></app-bottom-top-tree>
  <app-multiple-tree *ngIf="isTreeMultiple"></app-multiple-tree>
  <app-radial-tree *ngIf="isTreeRadial"></app-radial-tree>
  <app-polyline-tree *ngIf="isTreePolyline"></app-polyline-tree>
  <app-top-bottom-tree *ngIf="isTreeTopBottom"></app-top-bottom-tree>
</div>
